
<img class="img-fluid location" src="https://news.airbnb.com/wp-content/uploads/sites/4/2019/06/PJM020719Q202_Luxe_WanakaNZ_LivingRoom_0264-LightOn_R1.jpg?w=2048" alt="Airbnb" >

<div class="about">
    <h3>
        About Us
    </h3>
    <hr>
    <p>
        Airbnb was born in 2007 when two Hosts welcomed three guests to their San Francisco home, and has since grown to over 4 million Hosts who have welcomed more than 1 billion guest arrivals in almost every country across the globe. Every day, Hosts offer unique stays and experiences that make it possible for guests to connect with communities in a more authentic way.
    </p>

</div>

<div class="fun">
    <h3>Fun Facts</h3>
    <div class=" d-flex flex-row flex-wrap">
        <div class="facts d-flex flex-column justify-contents-between">
            <div>
                <h2 style="font-weight: bold;  font-family:sans-serif">6 M</h2>
            </div>
            <div>
                <p>active listings worldwide</p>
            </div>
            <div class="pt-4">
                <span >as of 31 July,2022</span>
                </div>
            
        </div>

        <div class="facts d-flex flex-column justify-contents-between">
            <div>
                <h2 style="font-weight: bold;  font-family:sans-serif">100 k</h2>
            </div>
            <div>
                <p>cities and towns with active Airbnb listings</p>
            </div>
            <div>
                <span >as of 31 July,2022</span>
                </div>
            
        </div>

        <div class="facts d-flex flex-column justify-contents-between">
            <div>
                <h2 style="font-weight: bold;  font-family:sans-serif">220 +</h2>
            </div>
            <div>
                <p>countries and regions with Airbnb listings</p>
            </div>
            <div>
                <span >as of 31 July,2022</span>
                </div>
            
        </div>

        <div class="facts d-flex flex-column justify-contents-between">
            <div>
                <h2 style="font-weight: bold;  font-family:sans-serif">1B+</h2>
            </div>
            <div>
                <p>Airbnb guest arrivals all-time</p>
            </div>
            <div class="pt-4">
                <span >as of 31 July,2022</span>
                </div>
            
        </div>

        <div class="facts d-flex flex-column justify-contents-between">
            <div>
                <h2 style="font-weight: bold;  font-family:sans-serif">220+</h2>
            </div>
            <div>
                <p>Hosts on Airbnb</p>
            </div>
            <div class="pt-4">
                <span >as of 31 July,2022</span>
                </div>
            
        </div>

        <div class="facts d-flex flex-column justify-contents-between">
            <div>
                <h2 style="font-weight: bold;  font-family:sans-serif">$150B+</h2>
            </div>
            <div>
                <p>earned by Hosts, all-time</p>
            </div>
            <div class="pt-4">
                <span >as of 31 July,2022</span>
                </div>
            
        </div>

        <div class="facts d-flex flex-column justify-contents-between">
            <div>
                <h2 style="font-weight: bold;  font-family:sans-serif">$13.8K</h2>
            </div>
            <div>
                <p>earned by the typical US Host in 2021</p>
            </div>
            <div>
                <span >as of 31 July,2022</span>
                </div>
            
        </div>
    </div>


</div>