{{!-- <hr style="color: #e7f6f2;"> --}}
<div class="d-flex flex-row footer justify-content-between">
    <div class="firstdiv d-flex flex-row">
        <div>
            <p class="copyright">&#169;</p>
        </div>
        <div>
            <p>2022 Airbnb, Inc. All rights reserved</p>
        </div>

    </div>

    <div class="seconddiv">
        <i class="icons fa fa-facebook"></i>
        <i class="icons fa fa-twitter"></i>
        <i class="icons fa fa-instagram"></i>
        <i class="icons fa fa-youtube"></i>
    </div>
</div>