<div class="filters">
    
    <div class="d-flex flex-column align-items-center">
        <i class="icon fa fa-twitter"></i>
        <span class="spa">Twitter</span>
    </div>

    <div class="d-flex flex-column align-items-center">
        <i class="icon fa-solid fa-hotel"></i>
        <span class="spa">Hotel</span>
    </div>

    <div class="d-flex flex-column align-items-center">
        <i class="icon fas fa-swimming-pool"></i>
        <span class="spa">Swimming</span>
    </div>

    <div class="d-flex flex-column align-items-center">
        <i class="icon fas fa-campground"></i>
        <span class="spa">Camping</span>
    </div>

    <div class="d-flex flex-column align-items-center">
        <i class="icon fas fa-water"></i>
        <span class="spa">Water Rides</span>
    </div>

    <div class="d-flex flex-column align-items-center">
        <i class="icon fa-solid fa-umbrella-beach"></i>
        <span class="spa">Beach</span>
    </div>

    <div class="d-flex flex-column align-items-center">
        <i class="icon fa-solid fa-house"></i>
        <span class="spa">Rented House</span>
    </div>

    <div class="d-flex flex-column align-items-center">
        <i class="icon fa fa-youtube"></i>
        <span class="spa">You Tube</span>
    </div>

    <div class="d-flex flex-column align-items-center">
        <i class="icon fa fa-arrow-right" aria-hidden="true"></i>
        <span class="spa">More</span>
    </div>
</div>
