<div class="filters">
    
    <i class="icon fa fa-twitter"></i>
    <i class="icon fa-solid fa-hotel"></i>
    <i class="icon fas fa-swimming-pool"></i>
    <i class="icon fa-solid fa-umbrella-beach"></i>
    <i class="icon fa-solid fa-house"></i>
    <i class="icon fas fa-campground"></i>
    <i class="icon fas fa-water"></i>
    <i class="icon fa fa-youtube"></i>
    <i class="icon fa fa-arrow-right" aria-hidden="true"></i>


</div>
