<div class="contain_head">
    <img class="img-fluid location" ...attributes>
        {{!-- <img class="img-fluid location" src={{booking.img}} alt="Maldives" > --}}
        <i class="heart fa fa-heart" aria-hidden="true"></i>
    </div>

