{{page-title "Hotel"}}

{{!-- The following component displays Ember's default welcome message. --}}
<Navbar />



{{!-- {{#if (media 'isDesktop')}}
  Desktop view!
{{/if}}

{{#if (media 'isMobile')}}
  Mobile view!
{{/if}}

{{#if media.isTablet}}
  Tablet view!
{{/if}} --}}

{{!-- Feel free to remove this! --}}
<div class="{{media 'classNames'}}">
  {{outlet}}
</div>
{{!-- {{outlet}} --}}